h1 {
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 30px;

  margin-top: 0px;
  padding-top: 43px;
  margin-bottom: 50px;
  color: #3398f9;
}
.todo-list {
  margin: 0;
  padding: 0;
}

.todo-item {
  width: 466px;
  border-bottom: 1px solid #f2f2f2;
  margin-left: 10px;
  padding: 15px 0 11px 8px;

  line-height: 1em;
  list-style-type: none;
  font-size: 30px;
  color: #3398f9;
  display: inline-block;
}



.toggle {
  margin: 13px 10px 30px 40px;
  width: 0;
  height: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;

}

.toggle:before,.toggle:after {

  content: '';
  border-radius: 30px;
  box-sizing: border-box;

  display: block;
  position: absolute;
  top:-3px;
  left: -3px;
  text-align:center;

}
.toggle:before {
  width: 15px;
  height: 15px;
  background-color: #3398f9;


  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);

  -moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

.toggle:after {
  height: 15px;
  width: 15px;
  border: 2px solid #3398f9;
  background-color: #fff;

  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.toggle:checked:after {
  background-color: #3398f9;

  -moz-transform: scale(0.66, 0.66);
  -ms-transform: scale(0.66, 0.66);
  -webkit-transform: scale(0.66, 0.66);
  transform: scale(0.66, 0.66);
}

.text {
  font-size: 28px;
  font-weight: 400;
  color: #666666;
  user-select: none;
}


.todo-item,
.text {
  cursor: pointer;
}

.remove {
  display: inline-block;

  float: right;
  margin: 17px 20px 6px 0;
}
