.filter {
  display: flex;
  margin-top: 42px;
}
.filter-box {
  margin: 0 auto;
  display: flex;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
}

.filter-item {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #d9d9d9;
  padding: 8px 12px;
  cursor: pointer;
}
.selected {
  font-weight:400;
  color: #3398F9;
}
