.add-todo{
  position: absolute;
  bottom: 30px;
}
.new-todo {
  font-family: Roboto;
  width: 466px;
  border: none;
  display: flex;
  border-bottom: 1px solid #f2f2f2;

  margin-left: 73px;

  background: rgba(0, 0, 0, 0.003);
  font-size: 36px;
  font-weight: 400;
  line-height: 1em;

  outline: none;
  color: #3398f9;
}
.new-todo::-webkit-input-placeholder {
  font-weight: 300;
  color: rgba(51, 152, 249, 0.28);
}
