
.todoApp {
  font: 14px 'Roboto','Helvetica Neue', Helvetica, 'Microsoft Yahei', Arial, sans-serif;
  max-width: 750px;
  margin: 110px auto 0;
  font-weight: 300;

  width: 600px;
  height: 720px;

  background: #ffffff;
  box-shadow: 0px 30px 80px rgba(52, 133, 211, 0.5);
  border-radius: 15px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: relative;
}

body{
  background: linear-gradient(180deg, #94EBFE 0%, #3398F9 100%);
  margin: 0;
  width: 100%;
  height: 1080px;
  font-family: Roboto;
  font-weight: 300;
  background-repeat: no-repeat;
}
